<?xml version="1.0"?>
<configuration>
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#" />
    <authentication mode="Forms" />
<machineKey validationKey="1234567890123456789012345678901234567890AAAAAAAAAA"
 decryptionKey="123456789012345678901234567890123456789012345678"
 validation="SHA1" decryption="Auto" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime executionTimeout="9999" maxRequestLength="214748364"/>
  </system.web>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=65.182.191.190,1433;
Initial Catalog=noconlinepunjab_com;User ID=noconlinepunjab_com;Password='LRAxKAnpQjID@976';"
    providerName="System.Data.SqlClient" />
    
<add name="ConnectionString"
    connectionString="Data Source=65.182.191.190,1433;
Initial Catalog=noconlinepunjab_com;User ID=noconlinepunjab_com;Password='LRAxKAnpQjID@976';"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
<pages enableEventValidation="false" viewStateEncryptionMode="Never" />

  </system.web>

</configuration>