@charset "UTF-8";

/* CSS Document */



html,body{

	padding: 0px;

	margin: 0px;

	height:100%;

}



#container{

	float:left;

	position:relative;

	min-height:800px;

	width:100%;

	

}





.blur{

	position:fixed;

	min-height:800px;

	width:100%;

	

	background-repeat:no-repeat;

	background-attachment:fixed;

	background-position:center;

	-webkit-filter: blur(3px);

}



#header a:hover{

	text-shadow: 0 0px 10px #FFFFFF;

}



#header{

	position:absolute;

	top:0px;

	height:70px;

	width:100%;

	background-color:#333;

}





#name{

	position:absolute;

	top:7px;

	width:400px;

	left:50px;

	color:#CCC;

	font-size:20px;

}



#left{

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	position:absolute;

	left:10px;

	top:100px;

	width:300px;

	height:400px;

	background-color:rgba(64,64,64,.6);

color:white;
	opacity:0.8;

}









#post{

	-moz-border-radius-bottomright: 5px;

	-webkit-border-bottom-right-radius: 5px;

	position: absolute;

	bottom: 0px;

	height: 40px;

	width: 30px;

	right: 30px;	

	

}

#postfeed{

	position: absolute;

	bottom: 2px;

	left:3px;

	height: 60px;

	width: 230px;

	

}



.resize{

	width: 230px;

	height:53px;

	font-size:15px;

	resize:none;

}





#middle{

	-moz-border-radius:5px;

	-webkit-border-radius:5px;

	position:absolute;

	left:350px;

	top:100px;

	width:450px;

	height:400px;

	background-color:#FFF;

	opacity:0.99;

}



.updatestext{

	position:absolute;

	height:20px;

	left:140px;

	font-size:24px;

}



#updatesnotice{

	position:absolute;

	top:80px;

	height:270px;

	

}



#readmore a{

	position:absolute;

	top:300px;

	left:330px;

	width:150px;

	color:#666;

	text-decoration:none;

}





#right{

	-moz-border-radius:10px;

	-webkit-border-radius:10px;

	position:absolute;

	right:15px;

	left:845px;

	top:100px;

	height:400px;

	width:500px;

	background-color:#000;

}





#bottom{

	-moz-border-radius:10px;

	-webkit-border-radius:10px;

	position:absolute;

	top:580px;

	width:870px;

	left:250px;

	right:250px;

	height:200px;

	background-color:#999;

	opacity:0.6;



}





.leftb {

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	position: absolute;

	width: 250px;

	height: 180px;

	top: 10px;

	background-color: #333;

	left: 10px;

	text-align: center;

	color: #FFF;

	font-size: 50px;

	text-decoration: none;

}



.cenb{

	-moz-border-radius:10px;

	-webkit-border-radius:10px;

	position:absolute;

	width:250px;

	height:180px;

	top:10px;

	background-color:#333;

	left: 310px;

	text-align: center;

	font-size: 50px;

	color: #FFF;

	

}



.rightb{

	-moz-border-radius:10px;

	-webkit-border-radius:10px;

	position:absolute;

	width:250px;

	height:180px;

	top:10px;

	background-color:#333;

	left:610px;

	text-align: center;

	font-size: 50px;

	color: #FFF;

	

	

}





.menu{

	-moz-border-radius:10px;

	-webkit-border-radius:10px;

	position:absolute;

	height:60px;

	width:800px;

right:60px;

	left:520px;

	background-color:#0266C8;

	top:5px;

    /*width:500px;margin:0 auto;*//*Uncomment this line to make the menu center-aligned.*/

    text-align:center;

	border:0px solid black;

    font-size:0;



}



.menu a

{

	display: inline-block;

	padding: 15px 20px;

	color: White;

	text-decoration: none;

	line-height: 32px;

	font-size: 22px;

	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;

	font-weight: normal;

}







#footer{

	position:absolute;

	height:50px;

	width:100%;

	background-color:#666;

	top:800px;

}



.leftfoo{

	position:absolute;

	float:left;

	left:5px;

	color:#FFF;

}



.rightfoo{

	position:relative;

	float:right;

	right:5px;

	color:#FFF;

}

